body {
    width: 800px;
    height:600px;
    box-sizing: border-box;
    border: 1px solid black;
}

.discussion {
    border-bottom: 1px solid black;
    height: 70px;
    padding: 5px;
    position: relative;
    background-color: rgb(210, 230, 230);
}

.header{
    vertical-align: middle;
}

h2 {
    margin-bottom: 0px;
}

.close {
    position: absolute;
    top: 2px;
    right: 5px;
    border: none;
    background-color: rgb(210, 230, 230);
    cursor: pointer;
}

.close::before {
    content:"\2718";
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 190, 190);
    overflow-x: scroll;
    overflow-x: hidden;
    max-height: 509px;
    padding: 4px;
}

.all {
    display: flex;
}

.left {
    display: flex;
    flex-grow: 3;
    flex-basis: 19%;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    border-right: 2px solid black;
}

.name {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align:center;
    line-height: 50px;
    background-color: rgb(210, 230, 230);
}

.date-and-time {
    margin-left: 5px;
    margin-top: 8px;
}

.right {
    flex-grow: 13;
    flex-basis: 81%;
    flex-direction: row;
    align-content: space-between;
    margin-right: 8px;
    margin-left: 8px;
}

.message{
    padding: 0px 15px 15px 15px;
    background-color: rgb(48, 190, 190);
}

.message {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(132, 184, 184);
}

.message > span {
    border: 0px;
}

